/* CSS declarations go here */
  body {


background: #F0C27B; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F0C27B , #4B1248); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F0C27B , #4B1248); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
  }
  
  nav, footer.page-footer {
      background-color: #844F5A;
  }
  
  .side-nav {
      background-color: #AD7B66;
  }
  
  
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }